apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ APP_NAME }}
  namespace: {{ NAMESPACE }}
  labels:
    app: {{ APP_NAME }}
spec:
  rules:
  - host: {{ APP_NAME }}.{{ NAMESPACE }}.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ APP_NAME }}
            port:
              number: 8080
