apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-plugin-config
  namespace: {{ jenkins_namespace }}
data:
  plugins.txt: |
{{ lookup('file', role_path + '/files/plugins.txt') | indent(4, true) }}