apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: {{ jenkins_namespace }}
spec:
  type: {{ jenkins_service_type }}
  selector:
    app: jenkins
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: {{ jenkins_nodeport }}
    - name: agent
      port: 50000
      targetPort: 50000

